.aboutMe {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    position: relative;
    margin: 25% auto;

    h2 {
        margin-top: 10%;
        flex-basis: 40%;
    }
    .aboutParagraph {
        flex-basis: 60%;
        padding-left: 13%;
        strong {
            border-bottom: 3px solid orange;
            padding: 0 20% 0 0;
        }
    }
    svg{ 
        width: 10%;
        position: absolute;
    }
    .left {
        top: -12%;
        left: -12%;
    }

    .right {
        bottom: -12%;
        right: -12%;

    }
}