/******* BASE STYLES START (common styles seen throughout the website)*******/
html {
    background-color: $background;
    overflow-x: hidden;
    // scroll-snap-type: y proximity;
    overflow-y: scroll;
}

.wrapper {
    max-width: 2000px;
    width: 90%;
    margin: 0 auto;
}

