/******* BASE STYLES START (common styles seen throughout the website)*******/
html {
    background-color: $background;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

.wrapper {
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
}

