// HEADER STYLES START HERE
header {
    display: flex;
    flex-direction: column;
    position: relative;
    .active{
        height: 100vh;
    }
    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: stopScroll 20s 1;

    }
}

.headerIntro { 
    position: relative;
    svg {
        right: -5%;
        position: absolute;
        top: 0;
        max-width: 12vw;
        animation: rotate 6s infinite linear, pop 5s 1 ease;
    }
    &.active {
        margin: 30px auto;
        animation: position 3s;

        h1 {
            font-size: 3vw;
            animation: shrink 3s;
            span {
                opacity: 0;
                transform: scale(0);
                animation: fadeOut 1s 1;
            }
        }
        svg {
            animation: reduceSize 2s, changePosition 2s;
            right: -45%;
            height: 20px;
        }
    }
}

.line {
    border: 1px solid $font;
    height: 10%;
    width: 0;
    align-self: center;
    animation: bounce 1s infinite linear, load 2s 2s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.headerTitle.active {
    height: 10vh;
    justify-content: flex-start;
    top: 0;
    animation: shrinkHeight 3s;
    .line {
        opacity: 0;
        animation: fadeOut 1s 1;
    }
}

.introSentence.active {
    flex-basis: 70vh;
    display: flex;
    align-content: center;
    animation: fadeIn 3s 1;
    p {
            font-family: $headingFont;
            text-align: center;
            font-size: 3vw;
            line-height: 3vw;
    
            strong {
                font-weight: 700;
                font-size: 3vw;
                line-height: 3vw;
            }
    
            .htmlTags {
                font-size: 3vw;
            }
        }
}

.spinningWheel {
    animation: rotate 10s infinite linear;
    margin: 0 auto;
    width: 50%;
}
// HEADER STYLES END HERE