// HEADER STYLES START HERE
header .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: stopScroll 20s 1;

}

@keyframes stopScroll {
    0% {
        overflow-y: hidden;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: scroll;
    }
}

.headerIntro { 
    position: relative;
    margin: 0 auto;
    svg {
        right: -5%;
        position: absolute;
        top: 0;
        animation: rotate 6s infinite linear, pop 5s 1 ease;
    }
}


.line {
    border: 1px solid $font;
    height: 10%;
    width: 0;
    align-self: center;
    animation: bounce 1s infinite linear, load 2s 2s cubic-bezier(0.5, 0, 0.1, 1) both;
}
header .active {
    height: 100vh;
}
header .wrapper.active {
    height: 10vh;
    justify-content: flex-start;
    top: 0;
    animation: shrinkHeight 2s;
    .headerIntro.active{
        margin: 30px auto;
        animation: position 2s;
        h1{
            font-size: 3vw;
            animation: shrink 2s;
            span{
                display: none;
            }
        }
        svg{
            animation: reduceSize 2s, changePosition 2s;
            right: -45%;
            height: 20px;
        }
    }
    .line {
        display: none;
    }
}

@keyframes shrinkHeight {
    from{
        height: 100vh;
    }
    to {
        height: 10vh;
    }
}
@keyframes position {
    from {
        top: 50%
    }
    to {
        top: 0;
    }
}

@keyframes shrink {
    from {
        font-size: 20vw;
    }
    to {
        font-size: 3vw;
    }
}

@keyframes reduceSize {
    from {
        height: 100%;
    }
    to {
        height: 20px;
    }
}

@keyframes changePosition {
    from {
        right: -5%;
    }

    to {
        right: -45%;
    }
}
// HEADER STYLES END HERE