@keyframes load {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes bounce {
    50% {
        transform: translateY(10%);
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    35% {
        transform: scale(0);
    }
    40% {
        
        transform: scale(1.2);
    }
    45% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
}

@keyframes shrinkHeight {
    from {
        height: 100vh;
    }

    to {
        height: 10vh;
    }
}

@keyframes position {
    from {
        top: 50%
    }

    to {
        top: 0;
    }
}

@keyframes shrink {
    from {
        font-size: 20vw;

    }

    to {
        font-size: 3vw;


    }
}

@keyframes reduceSize {
    from {
        height: 100%;
    }

    to {
        height: 20px;
    }
}

@keyframes changePosition {
    from {
        right: -5%;
    }

    to {
        right: -45%;
    }
}