@media (min-width: 1870px) {

    /******************* HEADER MEDIA QUERIES START (LARGE SCREEN) *****************************/
    .headerIntro {
        h1 {
            font-size: 19rem;
            span {
                    font-size: 8rem;
                    right: 18%;
            
                }
        }
        &.active {
            svg {
                right: -40%;
            }

            h1 {
                font-size: 3rem;
                animation: shrink 3s;
            }
        }
    }
    /******************* HEADER MEDIA QUERIES END (LARGE SCREEN) *****************************/

    /******************* KEYFRAMES MEDIA QUERIES START (LARGE SCREEN)*****************************/
    @keyframes shrink {
        from {
            font-size: 19rem;

        }

        to {
            font-size: 3rem;
        }
    }
    @keyframes changePosition {
        from {
            right: -5%;
        }

        to {
            right: -40%;
        }
    }
    /******************* KEYFRAMES MEDIA QUERIES END (LARGE SCREEN) *****************************/
}

@media (max-width: 1355px) { 
    /******************* TYPOGRAPHY MEDIA QUERIES START (TABLET)*****************************/
    h2 {
        font-size: 5rem;
        line-height: 5rem;
        .htmlTags {
            font-size: 5rem;
        }
    }
    h3 {
        font-size: 4rem;
        line-height: 4rem;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.6rem;
        strong {
            font-size: .9rem;
            line-height: 3rem;
        }
    }

    strong {
        font-size: .9rem;
        line-height: 3rem;
    }

    a {
        font-size: .9rem;
        line-height: 3rem;
        text-align: center;
    }
    /******************* TYPOGRAPHY MEDIA QUERIES END(TABLET)*****************************/

    /******************* HEADER MEDIA QUERIES START (TABLET)*****************************/
    .headerIntro {
            &.active {
                svg {
                    right: -35%;
            }
            h1 {
                font-size: 6vw;
                animation: shrink 3s;
            }
        }
    }

    .introSentence{
        &.active {
            p {
                font-size: 4vw;
                line-height: 4vw;
                strong {
                    font-size: 4vw;
                    line-height: 4vw;
                }
                .htmlTags {
                    font-size: 4vw;
                }
            }
        }
    }
    /******************* HEADER MEDIA QUERIES END (TABLET) *****************************/

    /******************* ABOUT ME SECTION MEDIA QUERIES START (TABLET)*****************************/
    .aboutMe {
        flex-direction: column;
        .aboutParagraph {
            padding: 0;
            flex-basis: 0;
        }
        .left {
            top: 0;
        }
        .quotes {
            bottom: -15%;
            left: -20%;
        }
    }

    /******************* ABOUT ME SECTION MEDIA QUERIES END (TABLET)*****************************/
    
    /******************* TOOLKIT SECTION MEDIA QUERIES START (TABLET)*****************************/
    .toolkit{
        ul {
            max-width: 80%;
        }
        .asterik {
            top: 0;
            right: -5%;
        }
        .hashtag {
            display: none;
        }
        .semicolon {
            top: 95%;
            left: -5%;
        }
        .curlyBracket {
            right: -13%;
        }
    }
    /******************* TOOLKIT SECTION MEDIA QUERIES END (TABLET)*****************************/

    /******************* PROJECT SECTION MEDIA QUERIES START (TABLET)*****************************/
    .projects {
        -webkit-transform: translate3d(0, 0, 0);
        h2 {
            align-self: center;
        }
        ul {
            li {
                z-index: 1;
                max-width: 100%;
                margin: 40px 0;
            }
        }
        svg{
            z-index: -1;
        }
        .exclamationMark{
            top: 31%;
        }
        .quotes {
            top: 61%;
        }
        .arrowFunction{
            bottom: 5%;
        }
    }

    /******************* PROJECT SECTION MEDIA QUERIES END (TABLET)*****************************/

    /******************* CONTACT SECTION MEDIA QUERIES START (TABLET) *****************************/
    .contact {
        flex-direction: column;

        strong {
            font-size: 5rem;
            line-height: 5rem;
        }
        a {
            font-size: 1.1rem;
            line-height: 1.6rem;
        }
    }

    form {

        input,
        textarea {
            font-size: 1.1rem;
            line-height: 1.6rem;
            padding: 15px 0 15px 15px;
        }

        button {
            font-size: 1.1rem;
            line-height: 1.6rem;

            .htmlTags {
                font-size: 1.1rem;
                line-height: 1.6rem;
            }
        }
    }
    /******************* CONTACT SECTION MEDIA QUERIES END (TABLET) *****************************/

    /******************* FOOTER SECTION MEDIA QUERIES START (TABLET) *****************************/
    footer {
        flex-direction: column;
        svg {
            margin-top: 20px;
            max-width: 100%;
        }
        p {
            align-self: center;
            text-align: center;
            margin-top: 20px;
        }
    }
    
    /******************* FOOTER SECTION MEDIA QUERIES END (TABLET) *****************************/

    /******************* KEYFRAMES MEDIA QUERIES START (TABLET) *****************************/
    @keyframes shrink {
        from {
            font-size: 20vw;

        }

        to {
            font-size: 6vw;
        }
    }

    @keyframes changePosition {
        from {
            right: -5%;
        }

        to {
            right: -35%;
        }
    }

    /******************* KEYFRAMES MEDIA QUERIES END (TABLET) *****************************/

}

@media (max-width: 700px) {
    
    /******************* TYPOGRAPHY MEDIA QUERIES START (MOBILE)*****************************/
        h2 {
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            .htmlTags {
                font-size: 3rem;
            }
        }
        h3 {
            font-size: 2rem;
            line-height: 2rem;
            text-align: center;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.3rem;
            strong {
                font-size: 0.7rem;
                line-height: 2rem;
            }
        }
    /******************* TYPOGRAPHY MEDIA QUERIES END (MOBILE)*****************************/

    /******************* HEADER MEDIA QUERIES START (MOBILE) *****************************/
    .headerIntro {
        svg {
            top: -35%;
        }
        &.active{
            svg {
                top: -10%;
            }
        }
    }
    /******************* HEADER MEDIA QUERIES END (MOBILE) *****************************/

    /******************* ABOUT ME SECTION MEDIA QUERIES START (MOBILE)*****************************/
    .aboutMe {
        .right {
            bottom: -5%;
        }

        .quotes {
            bottom: -12%;
            left: -50%;
        }
    }
    /******************* ABOUT ME SECTION MEDIA QUERIES END (MOBILE)*****************************/

    /******************* TOOLKIT SECTION MEDIA QUERIES START (MOBILE)*****************************/
    .toolkit {
        ul {
            max-width: 100%;
        }
        .asterik {
            right: -12%;
        }

        .hashtag {
            display: none;
        }

        .semicolon {
            left: -10%;
        }
    }
    /******************* TOOLKIT SECTION MEDIA QUERIES END (MOBILE)*****************************/

    /******************* PROJECT SECTION MEDIA QUERIES START (MOBILE)*****************************/
    .projects {
        ul {
            li {
                flex-direction: column;
                &:nth-child(2) {
                    flex-direction: column;
                    align-self: center;
                    margin: 0;
                }
                img {
                    align-self: center;
                }
            }
        }
        .projectText {
            margin-left: 0;
            p:first-child {
                text-align: center;
            }
        }
        .exclamationMark {
            top: 10%;
            left: -16%;
        }
        .quotes{
            top: 40%;
                right: -20%;
        }
        .arrowFunction {
            bottom: 12%;
            left: -19%;
            max-width: 40%;
        }
    }
    /******************* PROJECT SECTION MEDIA QUERIES END (MOBILE)*****************************/

    /******************* CONTACT SECTION MEDIA QUERIES START (MOBILE)*****************************/
       .contact {
            strong {
                font-size: 3rem;
                line-height: 3rem;
            }
            a {
                font-size: 0.9rem;
                line-height: 1.3rem;
            }
       }
       form {
            input,
            textarea {
                font-size: 0.9rem;
                line-height: 1.3rem;
                padding: 10px 0 10px 10px;
            }
            button {
                font-size: 0.9rem;
                line-height: 1.3rem;
                .htmlTags {
                    font-size: 0.9rem;
                    line-height: 1.3rem;
                }
           }
       }
    /******************* CONTACT SECTION MEDIA QUERIES END (MOBILE)*****************************/
}