@media (min-width: 1870px) {

    /******************* HEADER MEDIA QUERIES START (LARGE SCREEN) *****************************/
    .headerIntro {
        h1 {
            font-size: 19rem;
            span {
                    font-size: 8rem;
                    right: 18%;
            
                }
        }
        &.active {
            svg {
                right: -40%;
            }

            h1 {
                font-size: 3rem;
                animation: shrink 3s;
            }
        }
    }
    /******************* HEADER MEDIA QUERIES END (LARGE SCREEN) *****************************/

    /******************* KEYFRAMES MEDIA QUERIES START (LARGE SCREEN)*****************************/
    @keyframes shrink {
        from {
            font-size: 19rem;

        }

        to {
            font-size: 10rem;
        }
    }
    /******************* KEYFRAMES MEDIA QUERIES END (LARGE SCREEN) *****************************/
}

@media (max-width: 1355px) { 
    /******************* TYPOGRAPHY MEDIA QUERIES START (TABLET)*****************************/
    h2 {
        font-size: 5rem;
        line-height: 5rem;

        .htmlTags {
            font-size: 5rem;
        }
    }
    p {
        font-size: 1.1rem;
        line-height: 1.6rem;
        strong {
            font-size: .9rem;
            line-height: 3rem;
        }
    }
    /******************* TYPOGRAPHY MEDIA QUERIES END(TABLET)*****************************/

    /******************* HEADER MEDIA QUERIES START (TABLET)*****************************/
    .headerIntro {
            &.active {
                svg {
                    right: -35%;
            }
            h1 {
                font-size: 6vw;
                animation: shrink 3s;
            }
        }
    }

    .introSentence{
        &.active {
            p {
                font-size: 5vw;
                line-height: 5vw;
                strong {
                    font-size: 5vw;
                    line-height: 5vw;
                }
                .htmlTags {
                    font-size: 5vw;
                }
            }
        }
    }
    /******************* HEADER MEDIA QUERIES END (TABLET) *****************************/

    /******************* ABOUT ME SECTION MEDIA QUERIES START (TABLET)*****************************/
    .aboutMe {
        flex-direction: column;
        .aboutParagraph {
            padding: 0;
            flex-basis: 0;
        }
        .left {
            top: 0;
        }
        .quotes {
            bottom: -15%;
                left: -30%;
        }
    }

    // .asterik {
    //     top: 0;
    //     right: -5%;
    // }
    // .hashtag {
    //     top: 20%;
    //         right: -20%;
    // }
    /******************* ABOUT ME SECTION MEDIA QUERIES START (TABLET)*****************************/

    /******************* KEYFRAMES MEDIA QUERIES START (TABLET) *****************************/
    @keyframes shrink {
        from {
            font-size: 20vw;

        }

        to {
            font-size: 6vw;
        }
    }

    @keyframes changePosition {
        from {
            right: -5%;
        }

        to {
            right: -35%;
        }
    }
    /******************* KEYFRAMES MEDIA QUERIES END (TABLET) *****************************/
}

@media (max-width: 700px) {
    
    /******************* TYPOGRAPHY MEDIA QUERIES START (MOBILE)*****************************/
        h2 {
            font-size: 3rem;
            line-height: 3rem;
            text-align: center;
            .htmlTags {
                font-size: 3rem;
            }
        }
        p {
            font-size: 0.9rem;
            line-height: 1.3rem;
            strong {
                font-size: 0.7rem;
                line-height: 2rem;
            }
        }
    /******************* TYPOGRAPHY MEDIA QUERIES END (MOBILE)*****************************/

    /******************* HEADER MEDIA QUERIES START (MOBILE) *****************************/
    .headerIntro {
        svg {
            top: -35%;
        }
        &.active{
            svg {
                top: -10%;
            }
        }
    }
    /******************* HEADER MEDIA QUERIES END (MOBILE) *****************************/
}