.toolkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h2 {
        text-align: center;
        margin-bottom: 60px;
    }
    ul {
        max-width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        li {
            flex-basis: calc((100% / 3) - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transform: scale(1);
            margin: 10px;
            svg{
                position: relative;
            }
            p{
                opacity: 0;
            }
            &:hover {
                transform: scale(1.1);
                svg path{
                    fill-opacity: 1;
                    stroke-width: 0;
                }
                p {
                    opacity: 1;
                }
            }
        }
    }
    svg {
        position: absolute;
    }
    .asterik {
        top: -20%;
        right: 24%;
        z-index: -1;
    }
    .semicolon {
        top: 5%;
        left: 5%;
    }
    .hashtag{
        top: 20%;
        right: 0%;
    }
    .curlyBracket{
        bottom: -28%;
        right: 24%;
    }
}