html {
    font-size: 125%;
}

h1, 
h2, 
h3, 
p,
a,
.htmlTags {
    margin: 0;
    color: $font;
}

h1,
h2,
h3,
.htmlTags {
    font-family: $headingFont;
    font-size: 3rem;
}

h1 {
    font-weight: 900;
    font-size: 20vw;
    text-align: center;
    position: relative;
    span {
        font-size: 8vw;
        position: absolute;
        top: 0;
        right: 21%;
    
    }
    animation: load 3s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

h2 { 
    font-weight: 400;
    font-size: 7rem;
    line-height: 7rem;
    z-index: 1;
    .htmlTags {
            font-weight: 300;
            font-size: 7rem;
    }
    strong {
        font-weight: 700;
        font-style: italic;
    }
}

h3 {
    font-weight: 400;
    font-size: 7rem;
    line-height: 7rem;
}

p,
a {
    font-family: $bodyFont;
}

h3 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 25px;
}

p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    strong {
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 4rem;
    }

}

a {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 4rem;
    text-transform: uppercase;
    &:hover, &:focus {
        color: #FEBC65;
    }
}
