/* import Zodiak font */
@font-face {
  font-family: 'Zodiak';
  src: url('../fonts/Zodiak/Zodiak-Regular.woff2') format('woff2'),
       url('../fonts/Zodiak/Zodiak-Regular.woff') format('woff'),
       url('../fonts/Zodiak/Zodiak-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

/* import Zodiak font in italic */
@font-face {
    font-family: 'Zodiak';
    src: url('../fonts/Zodiak-Italic.woff2') format('woff2'),
        url('../fonts/Zodiak-Italic.woff') format('woff'),
        url('../fonts/Zodiak-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

/* import Zodiak font in light */
@font-face {
    font-family: 'Zodiak';
    src: url('../fonts/Zodiak/Zodiak-Light.woff2') format('woff2'),
        url('../fonts/Zodiak/Zodiak-Light.woff') format('woff'),
        url('../fonts/Zodiak/Zodiak-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

/* import Zodiak font in bold */
@font-face {
    font-family: 'Zodiak';
    src: url('../fonts/Zodiak-Bold.woff2') format('woff2'),
        url('../fonts/Zodiak-Bold.woff') format('woff'),
        url('../fonts/Zodiak-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

/* import Zodiak font in bold italic */
@font-face {
    font-family: 'Zodiak';
    src: url('../fonts/Zodiak/Zodiak-BoldItalic.woff2') format('woff2'),
        url('../fonts/Zodiak/Zodiak-BoldItalic.woff') format('woff'),
        url('../fonts/Zodiak/Zodiak-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

/* import Zodiak font in black */
@font-face {
    font-family: 'Zodiak';
    src: url('../fonts/Zodiak/Zodiak-Black.woff2') format('woff2'),
        url('../fonts/Zodiak/Zodiak-Black.woff') format('woff'),
        url('../fonts/Zodiak/Zodiak-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

/* import Cabinet Grotesk font */
@font-face {
    font-family: 'CabinetGrotesk';
    src: url('../fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff') format('woff'),
        url('../fonts/CabinetGrotesk/CabinetGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

/* import Cabinet Grotesk font in extrabold */
@font-face {
    font-family: 'CabinetGrotesk';
    src: url('../fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2') format('woff2'),
        url('../fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff') format('woff'),
        url('../fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}
html {
    font-size: 125%;
}

h1, 
h2, 
h3, 
p,
a,
.htmlTags {
    margin: 0;
    color: $font;
}

h1,
h2,
h3,
.htmlTags {
    font-family: $headingFont;
    font-size: 3rem;
}

h1 {
    font-weight: 900;
    font-size: 20vw;
    text-align: center;
    position: relative;
    span {
        font-size: 8vw;
        position: absolute;
        top: 0;
        right: 21%;
    
    }
    animation: load 3s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

h2 { 
    font-weight: 400;
    font-size: 7rem;
    line-height: 7rem;
    .htmlTags {
            font-weight: 300;
            font-size: 7rem;
    }
    strong {
        font-weight: 700;
        font-style: italic;
    }
}

h3 {
    font-weight: 400;
    font-size: 7rem;
    line-height: 7rem;
}

p,
a {
    font-family: $bodyFont;
}

h3 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 25px;
}

p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    strong {
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 4rem;
    }

}

a {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 4rem;
    text-transform: uppercase;
    &:hover, &:focus {
        color: #FEBC65;
    }
}
